<div class="container">
  <div class="col-md-12">
    <br>
    <div class="panel panel-success">
      <div class="panel-heading">
        <% if !@receiver.nil? %>
        <strong>You are sending to: <%= @receiver.name %></strong>
        <% else %>
          <strong>Unknown recipient</strong>
        <% end %>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
