  <div class="container">
    <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4><%= @message.subject%></h4>
      </div>
      <div class="panel-body">
        <%= simple_format(@message.body)%>
      </div>
    </div>
    </div>
  </div>
