<div class="container col-sm-8">
  <h1>Editing Faculty</h1>

<%= render 'form' %>

<%= link_to 'Show', @faculty, :class => 'btn btn-primary btn-flat' %>
<%= link_to 'Back', faculties_path, :class => 'btn btn-primary btn-flat' %>
</div>
