<div class="container center well" style="width: 65%">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty), :class => 'btn btn-primary btn-flat' %>
<%= link_to 'Back', faculties_path, :class => 'btn btn-primary btn-flat' %>
</div>
