<div class="container content profile">
  <div class="col-md-9" style="padding-left: 50px">
    <div class="profile-body margin-bottom-20">
      <h1>Editing Job</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
