<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2><i>WELCOME TO MMU ALUMNI</i> <br /> <i>REUNITE AND CONNECT </i> <br /> <i>WITH YOUR FRIENDS</i></h2>

            <div class="da-img"><%= image_tag('1.jpg',  class: "img-responsive") %></div>
        </div>

        <div class="da-slide">
            <h2><i>GET NOTIFIED</i> <br /> <i>ABOUT UP COMING ALUMNI </i> <br /> <i>EVENTS</i></h2>
            <div class="da-img"><%= image_tag('seminar.jpg',  class: "img-responsive") %></div>
        </div>

        <div class="da-slide">
            <h2><i>HAVE FUN</i> <br /> <i>WITH YOUR BATCH MATES </i> <br /> <i>AND FRIENDS</i></h2>
            <div class="da-img"><%= image_tag('reunite.jpg',  class: "img-responsive") %></div>
        </div>

        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
<!--=== End Slider ===-->
