<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>WELCOME TO UTP ALUMNI</i> <br /> <i>CATCH UP WITH YOUR </i> <br /> <i> FORMER CLASSMATES</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><%= image_tag('1.png',  class: "img-responsive") %></div>
        </div>
        <div class="da-slide">
            <h2><i>WELCOME TO UTP ALUMNI</i> <br /> <i>CATCH UP WITH YOUR </i> <br /> <i> FORMER CLASSMATES</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><%= image_tag('1.jpg',  class: "img-responsive") %></div>
        </div>
        <div class="da-slide">
            <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
            <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
            <div class="da-img"><%= image_tag('2.jpg',  class: "img-responsive") %></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
<!--=== End Slider ===-->
