
<a data-toggle="modal" href="#importingModal" class="btn btn-sm btn-primary">Upload</a>

<div class="import_modal">
 <div class="modal fade" id="importingModal">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h3 class="modal-title">
           <div id="import_title">Import File</div>
           <div id="attribute_title">Select Attributes</div>
         </h3>
       </div>
       <div id="import">
         <%= form_tag import_import_index_path(format: :js), remote: true, multipart: true, :id => "importing" do %>
           <div class="modal-body">
             <%= file_field_tag :file, :class => "btn icon-upload"  %>
             <% if !params[:klass].present? %>
               <%= hidden_field_tag :klass, klass %>
             <% else %>
               <%= hidden_field_tag :klass, @klass %>
             <% end %>
             <br /><center><div id="ajax_output"></div></center><br />
           </div>
           <div class="modal-footer">
             <div class="btn-group">
               <%#= submit_tag "Import", :class=> "btn  btn-primary icon-upload" %>
               <button type="button1" class="btn  btn-primary icon-upload" onclick=" hideContent()" >Import</button>
               <button type="button" class="btn btn-white" id="cancel_upload" data-dismiss="modal">Cancel</button>
             </div>
           </div>
         <% end %>
       </div>
       <div id="attribute_table"></div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
</div>

<script type="text/javascript">
    function hideContent()
    {
      $(" .modal-title").hide();
      $(" .modal-body").hide();
      $(" .modal-footer").hide();
      $("#attribute_table").show();
    }
</script>
