<div class="container col-sm-8">
  <div class="center jumbotron">
    <h1> Welcome to x alumni webiste</h1>
    <%= link_to 'Claim your Account',  claim_account_pages_path, :class => 'btn btn-primary btn-flat' %>
  </div>
</div>
