  <% if !@user.phone.nil? %>

    <div class="col-sm-1 pad">
      <i class="fa fa-phone"></i>
    </div>
    <div class="col-sm-11 pad">
      <%= @user.phone %>
    </div>
    <% else %>
        N/A
    <% end %>


    <% if !@user.email.nil?%>
      <div class="col-sm-1 pad">
        <i class="fa fa-envelope-o"></i>
      </div>
      <div class="col-sm-11 pad">
        <%= @user.email%>
      </div>
    <% else %>
        N/A
    <% end %>
