<div class="panel panel-profile">
  <div class="panel-heading overflow-h">
    <h2 class="panel-title heading-sm pull-left">
      <span class="fa fa-lightbulb-o"> Skills</span>
    </h2>
  </div>
  <div class="panel-body">
    <%= @user.jobs.last.skills %>
  </div>
</div>
