<%= form_for @user, url: claim_path(id: @user.id) do |f|%>
<div class="form-control-wrapper">
  <%= f.text_field :email, :class => 'form-control empty', :autocomplete => "off" %>
  <div class="floating-label"> Email</div>
    <span class="material-input"></span>
</div>
<div class="actions">
  <%= f.submit "Update Email", :action=>"update", :class => 'btn btn-primary btn-flat' %>
</div>
<% end %>
