
  <%= form_for @user, url: claim_path(id: @user.id) , class: 'sky-form' do |f|%>
    <div class="form-group">

      <%= f.password_field :password, :class => 'form-control empty', placeholder: 'New password', :autocomplete => "off" %>
    </div>

    <div class="form-group">
      <small style="color: red" class="pull-left">Please ensure the password is at least 6 characters in length.</small>
      <%= f.password_field :password, :class => 'form-control empty', placeholder: 'Confirm new password', :autocomplete => "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", :action=>"update", :class => 'btn btn-success btn-flat',  style: 'width: 100%' %>
    </div>
  <% end %>
<br>
