<div class="image-block">
  <div class="container">
    <div class="company-description">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="reg-header">
              <h4>Update your password to sign in</h4>
          </div>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
