<%= render partial: 'sign_in_modal' %>
<%= render partial: 'sign_up_modal' %>
<%#= render partial: 'home/slider' %>
<div class="image-block">
    <div class="container">
        <div class="company-description">
            <h2>Sign Up and discover the best talent of UTP alumni</h2>
            <p>Here you can find our alumni seeking for a job. </p>
            <p> In id ultricies sem. Donec leo sem, vehicula quis placerat sit amet, cursus id orci. In aliquam aliquet tincidunt.</p>
            <div class="margin-bottom-20"></div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
