<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @content.subject %></h1>
    <p>
       <%= @content.body %><br>
    </p>

    <small> This message was sent via <%= @url %></small>
  </body>
</html>
