<div class="container center well"  style="width: 65%">
  <h1>Editing Batch</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @batch,  :class => 'btn btn-primary btn-flat' %>
  <%= link_to 'Back', batches_path, :class => 'btn btn-primary btn-flat' %>
</div>
