.lv-item{
  padding: 20px;
  padding-bottom: 40px;
  border-bottom: 1px none #7c8082;
}
.item:hover{
  background-color: rgba(194,255,7,0.13);
}

.link{
  color: gray
}

.radius{
   padding: 15px;
   background: #337ab7
  }

.search-label {
  color: white
  }
  
.graduation-form{
  padding-top: 7px;
}

.graduation-list{
  padding-top: 50px;
}

.job-padding{
  padding: 15px;
}

.user-form{
  padding: 10px;
}

.greyesh{
  color: grey;
}

.slider-inner .da-slider{
  background: transparent url('bg.jpg') repeat 0% 0%;
}
.profile-body .map{
  height: auto;
}

div.image-block{
  background: url('jump.jpg') 70% 40% no-repeat;
}

div.da-slide h2 span {
  font-size: 28px;
  background-color:#407F7F;
  font-family: "Courier New",Courier, monospace;
  font-style: italic;
}

div.da-slide h2 i {
  font-size: 28px;
  font-family: "Courier New",Courier, monospace;
  background-color:  #496D89
}

.list-padding{
  padding: 0px;
}

.side-bar{
  height: 100%;
  background-color: #496D89;
  color: white;
  position: absolute;
  margin-right: 20px;
  padding: 0px;
}
.color-link{
  color: white;
}

.container-top{
  background: #f3f3f4;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 100px;
}
.main-content{
  padding: 0px 10px 0px 50px;
}

.table-padding{
  padding-bottom: 30px;
}

.event-list{
  padding-left: 20px
}

.logo-container{
  height: 48px;
  width: 150px;
  padding-bottom: 6px;
}

.bottom-nav{
  background-color: #f1f2f2;
  padding-bottom: -1px;
}

.btn-u {
    background: #0c4697;
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    font-family: interfaceregular;
    font-size: 14px;
    display: inline-block;
}

.l-size{
  font-size: 15px;
}
