.lv-item{
  padding: 20px;
  padding-bottom: 40px;
  border-bottom: 1px none #7c8082;
}
.item:hover{
  background-color: rgba(194,255,7,0.13);
}

.link{
  color: gray
}

.radius{
   padding: 15px;
   background: #337ab7
  }

.search-label {
  color: white
  }

.graduation-form{
  padding-top: 7px;
}

.graduation-list{
  padding-top: 50px;
}

.job-padding{
  padding: 15px;
}

.user-form{
  padding: 10px;
}
.greyesh{
  color: grey;
}

div.da-slider{
  background-image:  url('images/bg.jpg');
}
