/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.*/

  #checkbox .sample1 label {
    font-weight: bold;
  }
  #checkbox .hint {
    padding-left: 45px;
    padding-top: 20px;
    font-weight: 400;
  }
  #checkbox .sample1 {
    padding-bottom: 20px;
  }

  #checkbox h2 {
    font-size: 18.7199993133545px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  #checkbox .sample2 {
    width: 300px;
    clear: both;
    font-weight: 400;
  }

  #checkbox .sample2 {
    padding: 10px 0;
  }
  #checkbox .sample2 .text {
    display: inline-block;
  }
  #checkbox .sample2 .checkbox {
    float: right;
    margin: 0;
  }
