<div class="container col-sm-8">
  <p id="notice"><%= notice %></p>alert("jkds");
<% if @new_place == 1 %>
  <script type="text/javascript">
    alert("jkds");
  </script>
<% end %>
  <%= render 'locate_user'%>
  <%= render 'form'%>

  <%= render partial: "user_list"%>
</div>
