<%= render 'form'%>
<div class="col-md-9 col-md-offset-1 col-sm-6 col-sm-offset-3">
  <div class="container content">
    <div class="row">
      <div class="profile-body ">
        <div>
          <div class="timeline-v2 timeline-me ">
            <%=render partial: 'user_list' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
