<div class="breadcrumbs">
  <div class="container">
    <h1>Find the Alumni from your University</h1>
  </div>
</div>

<%= render 'form'%>
<%= render partial: 'locate_user' %>
<div class="col-md-9 ">
  <div class="container content" style="padding-left: 50px" id="user_list">
  </div>
</div>

<% content_for :script_tag do %>
  <script>
    getLocation();
  </script>
<%end%>
