<div class="col-sm-12">
  <%= render 'locate_user'%>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-9" id="form">
    <%= render 'form'%>
  </div>
  <%= render partial: "user_list"%>
</div>

<script>
  onload =getLocation();
</script>
