<div class="col-sm-12">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-9">
    <%= render 'form', :id=>"f"%>
  </div>
  <%= render partial: "user_list"%>
</div>

<%= render partial: 'locate_user'%>

<style media="screen">
#f:hover {
  background-color:  #eeeeee;
}
</style>
