<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="/"> <%#= image_tag('logo_mmu.png', id: "logo-footer")%> Multimedia University</a>
                    <p></p>
                    <p></p>
                </div><!--/col-md-3-->
                <!-- End About -->

                <!-- Latest -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="posts">
                        <div class="headline"><h2>Latest Posts</h2></div>
                        <ul class="list-unstyled latest-list">
                            <li>
                                <a href="#">Annual Gathering</a>
                                <small>May 8, 2016</small>
                            </li>
                            <li>
                                <a href="#">Alumni Meetup</a>
                                <small>June 23, 2014</small>
                            </li>
                            <li>
                                <a href="#">Alumni Meetup</a>
                                <small>September 15, 2014</small>
                            </li>
                        </ul>
                    </div>
                </div><!--/col-md-3-->
                <!-- End Latest -->

                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2>Useful Links</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="mmu.edu.my">Camsys</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="ips.mmu.edu.my">IPS</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="shdl.mmu.edy.my">SHDL</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div><!--/col-md-3-->
                <!-- End Link List -->

                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        63100, Jalan Multimedia, Cyberjaya <br />
                        Selangor, Malaysia <br />
                        Phone: 03 123 3456 <br />
                        Fax: 03  123 3456 <br />
                        Email: <a href="mailto:alumni.mmu@mmu.edu.my" class="">alumni.mmu@mmu.edu.my</a>
                    </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <%= render partial: 'layouts/copyright' %>
  </div>
