<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><%= link_to 'My profile', user_profiles_path %></li>
    <li><%= link_to 'Job', jobs_path %></li>
    <li><%= link_to 'Find users', find_users_path %></li>
  </ul>
</div>
